<%- include("partials/header.ejs") %>


    <div class="note">
        <div class="technology-form-container">
            <!-- Populates available technologies -->
            <form action="/technology" method="post">
                <% technology.forEach(tool=> { %>
                    <input type="submit" name="technology" value="<%= tool.id%>" id="<%= tool.id %>">
                    <label for="<%= tool.id %>">
                        <p>
                            <%= tool.name %>
                        </p>
                    </label>
                    <% }) %>
            </form>


        </div>
        <button id="add-technology" onclick="addTechnology()">ADD TECHNOLOGY</button>
        <!-- Notes details per technology -->
        <div class="filtered-notes-container">
            <div class="buttons-container">
                <button id="add-note-btn" onclick="addNote()"><b>Add new</b></button>
                <span hidden id="add-note-container">
                    <form action="/create/note" method="post">
                        <input hidden type="text" name="technology_id" value="<%= currentTechnology %>">
                        <label for="title"><b>Title</b></label>
                        <input type="text" name="title" id="title" required>
                        <label for="description"><b>Description</b></label>
                        <textarea rows="4" cols="2" name="description" id="description" required></textarea>
                        <input id="submit" type="submit">
                    </form>
                </span>
            </div>

            <% if(locals.notes){ %>
                <% notes.forEach(note=> { %>
                    <div class=" notes-item">

                        <div class="title-time-container">
                            <h2>
                                <%= note.title %>
                            </h2>
                            <h6>
                                <% let date=new Date(note.date) %>
                                    <% let formattedDate=date.toISOString().slice(0, 19).replace('T', ' ' ) %>
                                        <%= formattedDate %>
                            </h6>
                        </div>
                        <p>
                            <%= note.description %>
                        </p>

                        <form action="/delete/note" id="myForm" method="post">
                            <input hidden type="text" name="tech_id" value="<%= note.tech_id %>">
                            <button name="id" id="delete-btn" form="myForm" value="<%= note.id %>" type="submit"><img
                                    src="/images/icons8-delete-90.png" alt=""></button>
                        </form>

                    </div>
                    <% }) %>
                        <% } %>
        </div>

    </div>


    <%- include("partials/footer.ejs") %>